#renvoie les requêtes url à l'index
RewriteEngine On
RewriteRule ^(.*)\ $1\.php [L]
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ /odm-website/index.php [QSA,L]
