/*TODO améliorer toute la mise en forme*/

#map {
  width: 100%;
  height: 60%;
  padding: 2%;
}

#map-container {
  width: 70%;
  height: 100%;
  float:left;
}

#map-controller {
  width: 30%;
  height: 100%;
  float: right;
  padding: 1% 2%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

#place {
  width: 100%;
  height: 100%;
  padding: 2%;
}

#place-infos {
  padding: 2%;
  width: 40%;
  float:left;
}

#place-biers {
  /*TODO créer slider */
  padding: 2%;
  width: 60%;
  float:right;
}

#layer-controllers {
  width: 80%;
  overflow-y: auto;
}

#map-controller > div > * {
  cursor: pointer;
  text-align: center;
  transition: all 1s ease;
  opacity: 0.7;
}

#map-controller > div > *:hover {
  opacity: 1;
}

.layer-controller  {
  font-size: 13px;
  color: black;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
}

.layer-controller.active {
  color: white;
}

#controllers-managers {
  width: 100%;
  height: 3em;
  display:flex;
  justify-content: space-around;
}

.controllers-manager {
  width: 40%;
  background-color: var(--confirm_color);
  padding: 1em;
  font-size:1em;
}
